// ===============
// colors palette
// ===============
:root {
    // Site colors (Кольори сайту):
    // =================================================================
    --primary: #272727; // Site main color - (Основний колір сайту)
    --secondary: #72aec8; // Site secondary color - (Додатковий колір сайту)

    // Background colors (Фонові кольори):
    // =================================================================
    --bg-primary: #ffffff; // Основний фоновий колір сайту
    --bg-secondary: #edf1f3; // Додатковий фоновий колір сайту
    --bg-item: #d3d3d3; // Колір перемикачів слайдерів
    --bg-item-activ: #4a4a4a; // Колір активних перемикачів слайдерів

    // Text colors (Текстові кольори):
    // =================================================================
    --text-primary: #3a3a3a; // Колір основного тексту
    --text-secondary: #848484; // Колір підзаголовків
    --text-icons: #d7dddf; // Колір іконочних шрифтів
    // =================================================================

    // Form colors
    // =================================================================
    --input-1: #d9d9d9;
    --input-2: #eee;
    // =================================================================
}
