// <SELECT>
// Сніппет (HTML): sel
.select {
    min-width: 150px;
    position: relative;
    // .select__body
    &__body {
        position: relative;
    }
    // .select__title
    &__title {
        color: inherit;
        text-align: left;
        border: none;
        background-color: #fff;
        cursor: pointer;
        width: 100%;
    }
    // .select__value
    &__value {
        display: flex;
        min-width: 0;
        align-items: center;
        height: rem(25);
        padding: 0 0 0 rem(15);
        gap: rem(10);
        > * {
            flex: 1 1 auto;
        }
        &:after {
            content: "";
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease 0s;
            border-top: 6px solid var(--primary);
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            ._select-open & {
                transform: rotate(-180deg);
            }
        }
        &._select-pseudo-label {
            &::before {
                content: attr(data-pseudo-label);
                opacity: 0.5;
            }
        }
    }
    // .select__content
    &__content {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    // .select__text
    &__text {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__input {
        width: 100%;
        background-color: transparent;
        height: 100%;
    }
    // .select__options
    &__options {
        color: var(--text-primary);
        position: absolute;
        top: calc(100% - rem(1));
        border-radius: 4px;
        min-width: 100%;
        left: 0;
        background-color: var(--bg-primary);
        border: 1px solid var(--text-icons);
        padding: 10px 0px 5px 0px;
    }
    // .select__scroll
    &__scroll {
        overflow-y: auto;
        overflow-x: hidden;
        // Максимальна висота
        max-height: rem(300);
        // Стилі скроллбару
        .simplebar-scrollbar {
            &::before {
                //opacity: 1;
            }
        }
    }
    // .select__option
    &__option {
        width: 100%;
        text-align: left;
        cursor: pointer;
        padding: 5px 10px;
        color: inherit;
        &._select-selected {
            background-color: #eee;
        }
        @media (any-hover: hover) {
            &:hover {
                background: var(--bg-secondary);
            }
        }
    }

    // Конструкція додаткових даних
    &__row {
        display: inline-flex;
        align-items: center;
    }
    &__asset {
    }
    &__text {
    }

    &--show-top {
        .select__options {
            top: auto;
            bottom: calc(100% - rem(1));
            border: 1px solid #d9d9d9;
            border-bottom: 0;
            border-radius: 4px 4px 0 0;
            padding: 5px 0px 10px 0px;
        }
    }

    // Стан селекту
    &._select-open {
    }
    &._select-disabled {
    }
    &._select-active {
    }
    &._select-focus {
    }
    &._select-multiple {
    }
    &._select-checkbox {
    }
}

// Тег
._select-tag {
    cursor: pointer;
}
