.checkout {
    @include adaptiveValue("padding-top", 120, 50);
    @include adaptiveValue("padding-bottom", 120, 50);
}
.form-checkout {
    &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(20);
        row-gap: rem(30);
        @include adaptiveValue("margin-bottom", 120, 50);
        input {
            margin-top: rem(10);
        }
        @media (max-width:$mobile){
             grid-template-columns: auto; 
        }
    }
    &__billing {
        display: flex;
        flex-direction: column;
        gap: rem(30);
        @media (max-width:$mobile){
            order: 2;
        }
    }
    &__title {
        @media (max-width:$mobile){
            &:nth-child(2) {
                order: 3;
            }
        }
    }
    &__additional {
        display: flex;
        flex-direction: column;
        gap: rem(30);
        @media (max-width:$mobile){
            order: 4; 
        }
    }
    &__options {
        margin-bottom: rem(30);
    }
    &__total {
        margin-bottom: rem(30);
    }
    &__button {
        @media (max-width:$mobileSmall){
            width: 100%; 
        }
    }
}

