// Titles
.title {
    color: var(--primary);
    font-family: Jost;
    font-size: rem(83);
    // @include adaptiveValue("font-size", 83, 55, 0, 1330, 680);
    font-weight: 300;
    line-height: 1.14;
    letter-spacing: em(1.66, 83);
    text-transform: uppercase;
    &_m {
        font-size: rem(30);
        font-weight: 400;
        letter-spacing: em(1.8, 30);
    }
    &_s {
        font-size: rem(20);
        font-weight: 400;
        line-height: 1.45;
        letter-spacing: em(1.2, 20);
    }
}

// The header of sections
.head-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(30);
    &__title {
        @media (max-width: $mobileSmall) {
            font-size: rem(25);
        }
    }
    &__link {
        font-size: rem(14);
        font-weight: 500;
        line-height: 1.48;
        letter-spacing: em(1.4, 14);
        text-transform: uppercase;
        text-align: end;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// Product card
.product-item {
    &__img {
        position: relative;
        margin-bottom: rem(10);
        img {
            width: 100%;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: var(--secondary);
            }
        }
    }
    &__price {
        color: var(--secondary);
        font-family: Lato;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: em(0.6, 20);
    }
    &__button {
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
        opacity: 0;
        transition: all 0.5s ease 0s;
        .touch & {
            opacity: 1;
            left: auto;
            right: 5%;
            top: 5%;
            transform: translateX(0);
        }
    }
    @media (any-hover: hover) {
        &:hover &__button {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }
}

// Post cards
.post-item {
    &__img {
        margin-bottom: rem(14);
        img {
            width: 100%;
        }
    }
    &__info {
        color: var(--text-secondary);
        font-family: Jost;
        font-size: rem(13);
        line-height: 1.45;
        letter-spacing: em(0.78, 13);
        text-transform: uppercase;
        margin-bottom: em(6, 13);
    }
    &__title {
        @include adaptiveValue("font-size", 20, 16, 1, 1300, 767.98);
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: var(--secondary);
            }
        }
    }
}
