// Titles
.title {
    color: var(--primary);
    font-family: Jost;
    @include adaptiveValue("font-size", 83, 55, 0, 1330, 680);
    font-weight: 300;
    line-height: 1.14;
    letter-spacing: em(1.66, 83);
    text-transform: uppercase;
    &_m {
        font-size: rem(30);
        font-weight: 400;
        letter-spacing: em(1.8, 30);
    }
    &_s {
        font-size: rem(20);
        font-weight: 400;
        line-height: 1.45;
        letter-spacing: em(1.2, 20);
    }
}

// Product card
.product-item {
    &__img {
        position: relative;
        margin-bottom: rem(10);
        img {
            width: 100%;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        @media (any-hover: hover) {
            &:hover {
                color: var(--secondary);
                transition: color 0.3s;
            }
        }
    }
    &__price {
        color: var(--secondary);
        font-family: Lato;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: em(0.6, 20);
    }
    &__button {
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
        opacity: 0;
        transition: all 0.5s ease 0s;
        .touch & {
            opacity: 1;
            left: auto;
            right: 5%;
            top: 5%;
            transform: translateX(0);
        }
    }
    @media (any-hover: hover) {
        &:hover &__button {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }
}
