// Promo
.promo {
    padding-top: rem(72);
    background-color: var(--bg-secondary);
    &__slider {
        .swiper-button-prev::after,
        .swiper-button-next::after {
            font-size: rem(125);
            @media (max-width: $tablet) {
                font-size: rem(83);
            }
        }
        .swiper-button-prev,
        .swiper-button-next {
            width: rem(62);
            height: rem(125);
            margin-top: rem(-62);
            color: var(--secondary);
            @media (max-width: em(680)) {
                top: 90%;
            }
        }
        .swiper-button-prev {
            left: 5%;
            @media (max-width: em(680)) {
                left: 15%;
            }
        }
        .swiper-button-next {
            right: 5%;
            @media (max-width: em(680)) {
                right: 15%;
            }
        }
        .swiper-button-next.swiper-button-disabled,
        .swiper-button-prev.swiper-button-disabled {
            opacity: 1;
            color: var(--text-icons);
        }
    }
}

.slide-promo {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: em(680)) {
            display: block;
            padding: 0;
        }
    }
    &__content {
        flex: 0 1 56%;
        padding: rem(30) rem(15) rem(30) rem(20);
        @media (max-width: em(680)) {
            position: absolute;
            top: 10%;
        }
    }
    &__title {
        margin-bottom: em(40, 83);
    }
    &__button {
        @media (max-width: $tablet) {
            font-size: rem(12);
        }
    }
    &__img {
        flex: 0 1 44%;
        margin-right: 20px;
        @media (max-width: em(680)) {
            margin-right: 0;
            overflow: hidden;
        }
        img {
            width: 100%;
            @media (max-width: em(680)) {
                width: auto;
            }
        }
    }
    @media (max-width: em(680)) {
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.5;
            background-color: var(--bg-primary);
        }
    }
}

// Advantages
.advantages {
    @include adaptiveValue("padding-top", 120, 70);
    @include adaptiveValue("padding-bottom", 120, 70);
    &__container {
        display: flex;
        justify-content: space-between;
        gap: rem(55);
        @media (max-width: $tablet) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (max-width: $mobile) {
            gap: rem(35);
        }
    }
}
.item-advantage {
    display: flex;
    flex: 25%;
    column-gap: rem(14);
    @media (max-width: $tablet) {
        flex: 0 0 rem(285);
    }
    @media (max-width: $mobile) {
        flex: 0 0 rem(270);
    }
    &__icon {
        svg {
            width: rem(25);
            height: rem(25);
            fill: none;
            stroke: var(--secondary);
        }
    }
    &__title {
        margin-bottom: em(4, 20);
    }
    &__text {
        color: var(--text-primary);
        font-size: rem(16);
        font-weight: 300;
        line-height: 1.38;
        letter-spacing: em(0.48, 16);
    }
}

// Products
.products {
    @include adaptiveValue("padding-bottom", 110, 60);
    &__head {
        margin-bottom: rem(30);
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(20);
        }
    }
    &__wrapper {
        margin-bottom: rem(74);
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(54);
        }
    }
    &__pagination {
        .swiper-pagination-bullet {
            width: rem(14);
            height: rem(14);
            margin: 0 rem(10) !important;
            background-color: var(--bg-item);
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background-color: var(--bg-item-activ);
        }
    }
}

// Discount
.discount {
    background-color: var(--bg-secondary);
    &__container {
        display: flex;
        align-items: center;
        @media (max-width: $mobileSmall) {
            flex-direction: column;
            align-items: start;
        }
    }
    &__content {
        flex: 0 1 64%;
        margin: rem(30) 0;
        @media (max-width: $mobile) {
            flex: 0 1 50%;
        }
    }
    &__subtitle {
        display: flex;
        align-items: center;
        gap: rem(20);
        font-family: Jost;
        @include adaptiveValue("font-size", 30, 24, 0, 1330, 480);
        font-weight: 300;
        line-height: 1.14;
        letter-spacing: em(4.8, 30);
        text-transform: uppercase;
        margin-bottom: em(28, 30);
        &::before {
            content: "";
            display: inline-block;
            width: rem(48);
            height: rem(1);
            background-color: var(--primary);
            @media (max-width: $mobile) {
                width: rem(40);
            }
            @media (max-width: $mobileSmall) {
                width: rem(30);
            }
        }
    }
    &__title {
        @include adaptiveValue("font-size", 83, 40, 0, 1330, 480);
        padding-right: 15px;
        margin-bottom: em(45, 83);
    }
    &__button {
        @media (max-width: $mobile) {
            font-size: rem(12);
        }
    }
    &__img {
        flex: 0 1 36%;
        @media (max-width: $mobile) {
            flex: 0 1 50%;
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
    &__wrapp-ibg {
        max-width: rem(780);
        padding-bottom: 138%;
        margin-right: -310px;
        @media (max-width: $mobile) {
            margin-right: -210px;
        }
        @media (max-width: $mobileSmall) {
            margin-right: -15px;
            padding-bottom: 85%;
        }
    }
}

// Posts
.posts {
    @include adaptiveValue("padding-top", 120, 70);
    @include adaptiveValue("padding-bottom", 60, 35);
    &__head {
        margin-bottom: rem(30);
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(20);
        }
    }
    &__items {
        display: flex;
        gap: 20px;
        @media (max-width: $mobile) {
            max-width: rem(540);
            margin: 0 auto;
            flex-direction: column;
            gap: 40px;
        }
    }
    &__item {
        flex: 0 1 33.333%;
    }
}

// Reviews
.reviews {
    @include adaptiveValue("padding-top", 60, 35);
    @include adaptiveValue("padding-bottom", 120, 70);
    &__slider {
        .swiper-button-prev::after,
        .swiper-button-next::after {
            font-size: rem(45);
        }
        .swiper-button-prev,
        .swiper-button-next {
            width: rem(22.32);
            height: rem(45);
            color: var(--secondary);
            @media (max-width: em(480)) {
                display: none;
            }
        }

        .swiper-button-next.swiper-button-disabled,
        .swiper-button-prev.swiper-button-disabled {
            opacity: 1;
            color: var(--text-icons);
        }
    }
}

.slide-review {
    padding: 0 120px;
    @media (max-width: $mobile) {
        padding: 0 80px;
    }
    @media (max-width: $mobileSmall) {
        padding: 0;
    }
    &__icon {
        text-align: center;
        svg {
            width: rem(91);
            height: rem(65);
            fill: var(--bg-secondary);
            @media (max-width: $mobileSmall) {
                width: rem(81);
                height: rem(55);
            }
        }
    }
    &__text {
        color: var(--text-primary);
        text-align: center;
        @include adaptiveValue("font-size", 34, 20);
        font-weight: 300;
        line-height: 1.38;
        letter-spacing: em(0.68, 34);
        margin-bottom: em(30, 34);
    }
    &__rating {
        display: flex;
        justify-content: center;
        gap: rem(7);
        margin-bottom: rem(8);
        svg {
            width: rem(17);
            height: rem(17);
            fill: var(--secondary);
        }
    }
    &__name {
        font-size: rem(14);
        font-weight: 500;
        line-height: 1.48;
        letter-spacing: em(1.4, 14);
        text-transform: uppercase;
        text-align: center;
    }
}

// Subscribe
.subscribe {
    &__container {
        padding: 80px 15px;
        background-color: var(--primary);
        @media (max-width: em(580)) {
            padding: 50px 15px;
        }
    }
    &__body {
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptiveValue("gap", 126, 30, 0, 1300, 767.98);
        @media (max-width: em(580)) {
            flex-direction: column;
            row-gap: rem(30);
            max-width: 80%;
        }
    }
    &__content {
        flex: 0 1 50%;
    }
    &__title {
        color: var(--bg-primary);
        &:not(:last-child) {
            margin-bottom: em(10, 30);
        }
    }
    &__descr {
        color: var(--bg-primary);
        font-size: rem(16);
        font-weight: 300;
        line-height: 1.38;
        letter-spacing: em(0.48, 16);
    }
    &__form {
        display: flex;
        flex: 0 1 50%;
        border: 1px solid #eee;
        box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.08);
        @media (max-width: $mobile) {
            flex-direction: column;
            border: none;
        }
        @media (max-width: em(580)) {
            width: 100%;
        }
        input {
            height: rem(53);
            border: none;
            padding: 10px 10px 10px 30px;
            @media (max-width: $tablet) {
                padding: 10px;
            }
            @media (max-width: $mobile) {
                margin-bottom: rem(10);
            }
        }
        input,
        button {
            @media (max-width: $mobile) {
                border: 1px solid var(--input-2);
                box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.08);
            }
        }
    }
}

// Instagram
.insta {
    @include adaptiveValue("padding-top", 120, 70);
    @include adaptiveValue("padding-bottom", 50, 30);
    &__title {
        text-align: center;
        margin-bottom: em(30, 30);
    }
    &__items {
        display: flex;
        @include adaptiveValue("gap", 20, 10, 0, 1300, 580);
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
        @media (max-width: em(580)) {
            max-width: 350px;
            margin: 0 auto;
            flex-direction: column;
            gap: 20px;
        }
    }
    &__item-ibg {
        flex: 0 1 20%;
        position: relative;
        a {
            display: block;
            padding-bottom: 100%;
            svg {
                position: absolute;
                width: 30px;
                height: 32px;
                fill: var(--bg-primary);
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.8s ease 0s;
                opacity: 0;
            }
        }
        @media (max-width: $tablet) {
            flex: 1 1 25%;
        }
        @media (max-width: em(580)) {
            width: 100%;
        }
        @media (any-hover: hover) {
            &:hover a svg {
                opacity: 1;
                top: 50%;
            }
        }
    }
}
