.page {
    &__promo {
    }
    &__advantages {
    }
}

// Promo
.promo {
    padding-top: rem(72);
    background-color: var(--bg-secondary);
    &__slider {
        .swiper-button-prev::after,
        .swiper-button-next::after {
            font-size: 125px;
            @media (max-width: $tablet) {
                font-size: 83px;
            }
        }
        .swiper-button-prev,
        .swiper-button-next {
            width: 62px;
            height: 125px;
            margin-top: -62px;
            color: var(--secondary);
            @media (max-width: em(680)) {
                top: 90%;
            }
        }
        .swiper-button-prev {
            left: 5%;
            @media (max-width: em(680)) {
                left: 15%;
            }
        }
        .swiper-button-next {
            right: 5%;
            @media (max-width: em(680)) {
                right: 15%;
            }
        }
        .swiper-button-next.swiper-button-disabled,
        .swiper-button-prev.swiper-button-disabled {
            opacity: 1;
            color: var(--text-icons);
        }
    }
}

.slide-promo {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: em(680)) {
            display: block;
            padding: 0;
        }
    }
    &__content {
        flex: 0 1 56%;
        padding: 30px 15px 30px 20px;
        @media (max-width: em(680)) {
            position: absolute;
            top: 10%;
        }
    }
    &__title {
        margin-bottom: em(40, 83);
    }
    &__button {
        @media (max-width: $tablet) {
            font-size: rem(12);
        }
    }
    &__img {
        flex: 0 1 44%;
        margin-right: 20px;
        @media (max-width: em(680)) {
            margin-right: 0;
            overflow: hidden;
        }
        img {
            width: 100%;
            @media (max-width: em(680)) {
                width: auto;
            }
        }
    }
    @media (max-width: em(680)) {
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.5;
            background-color: var(--bg-primary);
        }
    }
}

// Advantages
.advantages {
    @include adaptiveValue("padding-top", 120, 70);
    @include adaptiveValue("padding-bottom", 120, 70);
    &__container {
        display: flex;
        justify-content: space-between;
        gap: rem(55);
        @media (max-width: $tablet) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (max-width: $mobile) {
            gap: rem(35);
        }
    }
}
.item-advantage {
    display: flex;
    flex: 25%;
    column-gap: rem(14);
    @media (max-width: $tablet) {
        flex: 0 0 rem(285);
    }
    @media (max-width: $mobile) {
        flex: 0 0 rem(270);
    }
    &__icon {
        svg {
            width: rem(25);
            height: rem(25);
            fill: none;
            stroke: var(--secondary);
        }
    }
    &__title {
        font-family: Jost;
        font-size: rem(20);
        line-height: 1.45;
        letter-spacing: em(1.2, 20);
        text-transform: uppercase;
        margin-bottom: em(4, 20);
    }
    &__text {
        color: var(--text-primary);
        font-size: rem(16);
        font-weight: 300;
        line-height: 1.38;
        letter-spacing: em(0.48, 16);
    }
}
